.theme-dark {
  --text-muted: #8c9097;
  --background-primary: #292841;
  --background-secondary: #1c1b29;
  --background-secondary-alt: #1a1927;
  --background-tertiary: #141321;
  --background-accent: #141321;
  --background-floating: #1a1927;
  --channeltextarea-background: #302e4d;
  --scrollbar-thin-thumb: #141321;
  --scrollbar-auto-thumb: #1c1b29;
  --scrollbar-auto-track: #141321;
}
